body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    margin-left: -10%;
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 0%;    
}


a{
    margin-left: 1.5%;
    margin-right: 3%;
}

a#logo{
    margin-left: 2%;
    font-size: 2rem;
    font-weight: bold;
}

button#login{
    margin-left: 15%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0%;
    background-color: rgb(61, 60, 70);
    color: aliceblue;
}


.container{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    
}
.container2{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;

}

.text-cont{
    text-align:left;
    width: 470px;
    margin-right: 50px;
}

.img-cont{
    text-align: right;
}

.img-cont img {
    
    width: 250px;

}
.text-cont2{
    text-align:right;
}

.img-cont2{
    text-align: left;
}

.left {
    margin-left: 50px;
}

footer{
    
    margin-left: 10%;
    margin-top: 87px;

}